<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Re-Call - Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="narrow-jumbotron.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recordings">Recordings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Re-Call</h3>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                 <h3>Your Profile</h3>
                 <p>
                        <strong>ID</strong>: <%= user._id %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                        <strong>Phone</strong>: <%= user.local.phone %>
                 </p>
            </div>
        </div>

    </div>

</div>
</body>
</html>
