<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Phone Listener - Signup</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/intlTelInput.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" id="signup-form">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="form-group">
    	    <label>Phone Number</label>
    	    <input type="tel" class="form-control" name="phone" id="phone" >
	   </div>
        
        <!-- Placeholder for error messages -->
        <div class="alert alert-danger" id="form-alert" style="display:none"></div>

        <button type="button" class="btn btn-warning btn-lg" onclick="validate();">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>

<script>
function validate(){
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    if (document.querySelector('input#email').value == ''){
        document.querySelector('div#form-alert').innerHTML = "Please enter an email.";
        document.querySelector('div#form-alert').style.display = "inline";
        return;
    } else if (document.querySelector('input#password').value == ''){
        document.querySelector('div#form-alert').innerHTML = "Please enter a password.";
        document.querySelector('div#form-alert').style.display = "inline";
        return;
    } else if (document.querySelector('input#phone').value == ''){
        document.querySelector('div#form-alert').innerHTML = "Please enter a phone number.";
        document.querySelector('div#form-alert').style.display = "inline";
        return;
    }

    var email = document.querySelector('input#email').value;

    if (re.test(email)){
        $("#phone").val($("#phone").intlTelInput("getNumber", intlTelInputUtils.numberFormat.E164));
        document.querySelector('form#signup-form').submit();
    } else {
        document.querySelector('div#form-alert').innerHTML = "Please enter a valid email.";
        document.querySelector('div#form-alert').style.display = "inline";
    }
    return;
}

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/intlTelInput.js"></script>
<script>
  $("#phone").intlTelInput({
    utilsScript: "js/utils.js"
  });
</script>

</body>
</html>
